.main {
    max-width: 500px;
    background {
        color: #fafafa;
    }
}

.form-fileupload {
    text-align: center;
}

.filterable {
    position: relative;
    min-height: 250px;

    & .form-fileupload {
        
        position: absolute;
        top: 30%;
        left: 100px;
        opacity: 0;
        text-align: center;
        transition: 1s opacity;

        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 15px;
        width: 270px;
    }

    &.no-img {
        & .form-fileupload {
            opacity: 1;
        }
    }

    &.has-img:hover {
        & .form-fileupload {
            opacity: 0.9;
        }
    }
}

.filters-list {
    & ul {
        list-style: none;

        & a {
           text-decoration: none; 
        }

        & .filterlink {
            &.filterlink-active {
                & a {
                    color: red;
                }
            }   
        }
    }
}

.filters-container {
    display: flex;
    justify-content: space-between;

    & .filters-list {
        flex: 1
    }

    & .filters-settings {
        flex: 3;
        max-width: 330px;
    }
}

.filters-settings {
    & label {
        display: inline-block;
        width: 120px;
        margin-right: 10px;
        text-align: right;
    }

    & input {
        width: 120px;
    }

    .settings-svg {

        & .svg-upload {
            display: flex;

            & .form-fileupload {
                width: 125px;
            }
        }
    }
}

       
